package components

templ PostPreviews(posts []Post) {
	<div class="columns is-multiline">
		for _, post := range posts {
			<div class="column is-one-third">
				@PostPreview(post)
			</div>
		}
	</div>
}
