<nav
  class="navbar is-transparent"
  role="navigation"
  aria-label="main navigation"
>
  <div class="container">
    <div class="navbar-brand">
      <a
        class="navbar-item has-text-white"
        routerLink="/"
      >
        <em>lofi<strong>code</strong></em>
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu" (click)="isNavbarBurgerActive = !isNavbarBurgerActive">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div class="navbar-menu" [class.is-active]="isNavbarBurgerActive">
      <div class="navbar-end">
        <div *ngIf="!user" class="navbar-item">
          <a class="has-text-white" (click)="showLogin = true">
            Log in
          </a>
        </div>
        <div *ngIf="!user" class="navbar-item">
          <a class="button is-primary" (click)="showCreateAccount = true">
            Create account
          </a>
        </div>
        <div *ngIf="user" class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link is-arrowless" [class.has-text-white]="!isNavbarBurgerActive">
            &#64;{{user.displayName}}
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item" routerLink="/settings">
              Settings
            </a>
            <a class="navbar-item" (click)="onLogOut()">
              Log out
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<app-create-account *ngIf="showCreateAccount" (done)="showCreateAccount = false"></app-create-account>
<app-login *ngIf="showLogin" (done)="showLogin = false"></app-login>
