.truncated {
    overflow: hidden;
    height: 450px;
}

.ellipsis {
    text-align: center;
}

.content {
    margin-top: 1rem;
}

.button {
    width: 100%;
}

a .card-content {
    text-decoration: none;
}

a .card-content:hover {
    text-decoration: none;
}

.full-height {
    height: 100%;
}