package components

templ VerifyEmail(to string, token string) {
	<h1>Verify Your Email</h1>
	<p>Hi { to },</p>
	<p>Please verify your email address by clicking the link below:</p>
	<p>
		<a href={ templ.URL("https://loficode.com/api/verify?token=" + token) }>
			Verify My Email
		</a>
	</p>
	<p>If you didn’t request this, you can safely ignore it.</p>
}
