<a class="box full-height" [routerLink]="['/posts', post.slug]">
    @if (post.header_image) {
      <div
        class="card-image"
        >
        <figure class="image is-3by1">
          <img
            src="{{headerImg}}"
            alt="Placeholder image"
            >
        </figure>
      </div>
    }
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <h5 class="title is-size-5">{{post.name}}</h5>
          <h6 class="subtitle is-size-6">{{post.publish_date.seconds * 1000 | date: 'mediumDate'}}</h6>
        </div>
      </div>
      <div class="content">
        <p>{{post.description}}</p>
        <app-tags [tags]="post.tags"></app-tags>
      </div>
    </div>
</a>