package page

templ Page(headConfig HeadConfig, breadcrumbs []Breadcrumb, content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
		@Head(headConfig)
		<body class="bg-neutral-950 text-neutral-100 min-h-screen flex flex-col font-sans">
			@Navbar()
			@Breadcrumbs(breadcrumbs)
			<main class="flex-1">
				@content
			</main>
			@Footer()
		</body>
	</html>
}
