<nav
  class="navbar"
  role="navigation"
  aria-label="main navigation"
>
  <div class="container">
    <div class="navbar-brand">
      <a
        class="navbar-item"
        href="/"
      >
        <img src="../assets/logo-color.svg">
      </a>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="http://codypotter.com/contact">
          Contact
        </a>
      </div>
    </div>
  </div>
</nav>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="container block">
  <nav class="breadcrumb is-large" aria-label="breadcrumbs">
    <ul>
      <li [ngClass]="!breadcrumb.routerLink ? 'is-active' : ''" *ngFor="let breadcrumb of breadcrumbs"><a [routerLink]="breadcrumb.routerLink">{{breadcrumb.text}}</a></li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
