<app-navbar></app-navbar>
@if (breadcrumbs.length !== 0) {
  <div class="container block mt-5">
    <nav class="breadcrumb is-large" aria-label="breadcrumbs">
      <ul>
        @for (breadcrumb of breadcrumbs; track breadcrumb.text) {
          <li [ngClass]="breadcrumb.routerLink ? '' : 'is-active'"  style="overflow-wrap: anywhere;"><a [routerLink]="breadcrumb.routerLink" style="overflow-wrap: anywhere;">{{breadcrumb.text}}</a></li>
        }
      </ul>
    </nav>
  </div>
}
<section class="has-background-light">
  <router-outlet></router-outlet>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <em>lofi<strong>code</strong></em> by <a href="http://codypotter.com">Cody Potter</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
    <p>
      <a routerLink="/privacy-policy">Privacy Policy</a> and <a routerLink="/tos">Terms of Service</a>
    </p>
  </div>
</footer>