@if (post) {
  <article class="container is-max-desktop has-background-white">
    <div class="share-buttons">
      <share-buttons [title]="post.name" [description]="post.description"></share-buttons>
    </div>
    @if (post.header_image) {
      <div
        class="card-image"
        >
        <figure class="image is-3by1">
          <img
            src="{{getHeaderImg()}}"
            alt="Placeholder image"
            >
        </figure>
      </div>
    }
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <h4 class="is-size-4">Cody Potter - Posted on {{post.publish_date.seconds * 1000 | date: 'longDate'}}</h4>
          <h1 class="title is-size-1">{{post.name}}</h1>
          <div class="mb-5">
            <app-tags [tags]="post.tags"></app-tags>
          </div>
        </div>
      </div>
      <div
        class="content"
        [innerHTML]="getContent()"
      ></div>
    </div>
  </article>
  <div class="container p-5 block has-background-white is-max-desktop">
    <app-comments [post]="post"></app-comments>
  </div>
} @else {
  <div class="container p-5">
    <ngx-skeleton-loader count="30"></ngx-skeleton-loader>
  </div>
}

<div class="container p-5 block is-max-desktop">
  <h4 class="title is-4 mb-5">Related Posts</h4>
  <div class="tile is-ancestor">
    @for (relatedPost of relatedPosts; track relatedPost) {
      <div class="tile is-parent">
        <div class="tile is-child">
          <app-post-preview [post]="relatedPost"></app-post-preview>
        </div>
      </div>
    }
  </div>
</div>