package templates

import "fmt"

templ YouTubePlayer(videoId string) {
    <iframe class="youtube-player" src={ string(templ.URL(fmt.Sprintf("https://www.youtube.com/embed/%s", videoId))) } allowfullscreen></iframe>
}