<section id="intro" class="hero is-primary is-medium">
  <div class="hero-body is-flex is-flex-direction-column">
    <img src="assets/logo-white.svg">
    <p class="subtitle has-text-white">
      learn to code in byte-size pieces
    </p>
  </div>
</section>
<section class="section">
  <div class="container">
    <h3 class="title is-3 mb-5">Browse by Tag</h3>
    <div class="p-3">
      <app-tags size="is-large"></app-tags>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <h3 class="title is-3 mb-5">Recent Posts</h3>
    <div class="columns is-multiline is-flex" style="align-items: stretch;">
      @if (posts.length === 0) {
        @for (n of [1, 2, 3]; track n) {
          <div class="column is-one-third">
            <ngx-skeleton-loader count="1" appearance="line" [theme]="{height: '100%'}"></ngx-skeleton-loader>
          </div>
        }
      }
      <div *ngFor="let post of posts" class="column is-one-third">
        <app-post-preview [post]="post"></app-post-preview>
      </div>
    </div>
  </div>
</section>

<section id="featured-video" class="section is-medium">
  <div class="container">
    <h3 class="title is-3">Featured Video</h3>
    <h4 class="subtitle is-4 mb-5">{{featuredVideoTitle}}</h4>
    <app-youtube-player [videoId]="featuredVideoId"></app-youtube-player>
  </div>
</section>