.related-post {
    max-width: 450px;
}

@media (min-width: 1024px) {
    .share-buttons {
        position: fixed;
        transform: translateX(calc(-1 * 100%));
    }
    
    ::ng-deep share-buttons .sb-group {
        flex-direction: column;
    }
}

:host ::ng-deep .content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 100%;
}