// styles.scss
@import 'custom-variables'; // Import custom variables first

// Import Bulma after your custom variables
@import 'node_modules/bulma/sass/utilities/initial-variables';
@import 'node_modules/bulma/sass/utilities/functions';
@import 'node_modules/bulma/sass/utilities/derived-variables';
@import 'node_modules/bulma/bulma.sass';
@import 'node_modules/ngx-sharebuttons/themes/default';
@import 'node_modules/highlight.js/scss/androidstudio';

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('./assets/IBMPlexSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}