#intro {
    background: linear-gradient(135deg, #FF0F7B 0%, #F89B29 100%);

    img {
        height: 10rem;
    }

    p {
        text-align: center;
    }
}

#featured-video {
    background: linear-gradient(135deg, hsla(130, 76%, 68%, 1) 0%, hsla(186, 100%, 55%, 1) 100%);
}