<section id="intro" class="hero is-primary is-medium">
  <div class="hero-body is-flex is-flex-direction-column">
    <img src="../../assets/logo-white.svg">
    <p class="subtitle">
      learn to code in byte-size pieces
    </p>
  </div>
</section>
<section class="mt-5">
  <app-tags size="is-large"></app-tags>
</section>
<section class="container mt-5">
  <h2 class="title is-2 mb-5">Recent Posts</h2>
  <div class="tile is-ancestor">
    <div class="tile is-parent" *ngFor="let post of posts">
        <div class="tile is-child">
          <app-post-preview [post]="post"></app-post-preview>
        </div>
    </div>
  </div>
  <a routerLink="/posts">See All</a>
</section>

<section class="container">
  <app-youtube-player></app-youtube-player>
</section>